{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="cabecalho">
        {% block h1 %} {% endblock %}
        {% if user.is_authenticated %}
        <nav class="nav-cab">
            <a href="{% url 'account_logout' %}">Logout</a>
        </nav>
        {% else %}
        <nav class="nav-cab">
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        </nav>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>